/** @type {import('tailwindcss').Config} */
module.exports = {
  content: [
    "./src/**/*.{astro,html,js,jsx,ts,tsx,vue}",
    "./components/**/*.{astro,js,ts}",
    "./layouts/**/*.{astro,js,ts}",
    "./pages/**/*.{astro,js,ts}"
  ],
  theme: {
    extend: {
      colors: {
        background: "rgb(var(--background) / <alpha-value>)",
        foreground: "rgb(var(--foreground) / <alpha-value>)",
        accent: "rgb(var(--accent) / <alpha-value>)",
        muted: "rgb(var(--foreground-muted) / <alpha-value>)",
      }
    }
  },
  plugins: [
    require('@tailwindcss/typography'),
  ],
};
